.button {
  appearance: none;
  width: 6em;
  height: 2.5em;
  border: 1px solid #55bb55;
  border-radius: 3px;
  box-shadow: 0 0 3px 3px #ddffdd;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #ddffdd;
  color: #004400;
}
